<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PRESENTACIÓN</ion-title>
    <ion-buttons slot="end"  routerLink="/medicamentos">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <pinch-zoom>
    <pdf-viewer
    [src]="pdfSRC"
    [fit-to-page]="true"
    [render-text]="true"
    style="display: block;">
    </pdf-viewer>
  </pinch-zoom>

  
</ion-content>