<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>INFORMACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center back">
  <img src="assets/logocona.png" style="padding-top:20px"/> 
  <div class="contenedor">
    <div class="lb2">
      <ion-icon name="location-outline"></ion-icon>
      <span>Direccion</span>
    <br/>
      <ion-label>Direccion: Av. Quitumbe Ñan y Av. Amaru Ñan Plataforma Gubernamental de Desarrollo Social.</ion-label>
    </div>
    <div class="lb2">
      <ion-icon name="mail-open-outline"></ion-icon>
      <span>Codigo Postal</span>
    <br/>
      <ion-label>Quito - Ecuador</ion-label>
    </div>
    <div class="lb2">
      <ion-icon name="call-outline"></ion-icon>
      <span>Telefono</span>
    <br/>
      <ion-label>+593 - 02 3834015</ion-label>
    </div>
    <div class="lb2">
      <ion-icon name="globe-outline"></ion-icon>
      <span>Web</span>
    <br/>
      <ion-label>www.conasa.gob.ec</ion-label>
    </div>
  </div>
  <img src="assets/Gobierno.png" style="padding-top:20px"/> 
</ion-content>