<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="earth"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MEDICAMENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="info">
<div class="general">
  <div class="tituloCentrado">
    <ion-label >
      CONSEJO NACIONAL DE SALUD - CONASA
      CUADRO NACIONAL DE MEDICAMENTOS BASICOS
      REGISTRO TERAPEUTICO
    </ion-label>
  </div>
  <ion-grid >
    <ion-row>
      <ion-col class="col1">
        <span>Código ATC</span>
      </ion-col>
      <ion-col class="col2">
        <span>{{info.code}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>DCI:</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.description"></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Forma Farmacéutica:</span>
      </ion-col>
      <ion-col class="col2">
        <span>{{info.form}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Concentración:</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.concentration"></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Nivel de Prescripción:</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.pres" ></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Nivel de Atención:</span>
      </ion-col>
      <ion-col class="col2">
        <span>---NA---</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Via administración</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.admin"></span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-button expand="full" color="tertiary" (click)="clickBotonesInformativos('picto')">PICTOGRAMAS</ion-button>
<div class="row1" [hidden] = "banderas.picto">
  
  
  <ion-img  *ngFor="let picto of pictogramasArray" style="height: 100px; width: 100px; display: inline-block;"
  [src]="'http://conasa.dnet.ec/admin/archivos/conasa/_pictogramas/'+ picto"></ion-img>
  
</div>
<ion-button expand="full" color="tertiary" (click)="clickBotonesInformativos('indicaciones')">INDICACIONES</ion-button>
<div [hidden] = "banderas.indicaciones">
  <span [innerHTML]="info.indications"></span>
</div>
<ion-button expand="full" color="tertiary" (click)="clickBotonesInformativos('dosificacion')">DOSIFICACIÓN</ion-button>
<div [hidden] = "banderas.dosificacion" >
  
  <ion-img [hidden]="!dosage_flag" [src]="'http://conasa.dnet.ec/admin/archivos/conasa/_dosificacion/'+ info.dosage_image"></ion-img>
  <div [hidden]="dosage_flag" [innerHTML]="info.dosage"></div>

</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('reacciones')">REACCIONES ADVERSAS</ion-button>
<div [hidden] = "banderas.reacciones">
  <span [innerHTML]="info.adverse_reaction"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('contraindica')">CONTRAINDICACIONES</ion-button>
<div [hidden] = "banderas.contraindica">
  <span [innerHTML]="info.contraindications"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('precauciones')">PRECAUCIONES</ion-button>
<div [hidden] = "banderas.precauciones">
  <span  [innerHTML]="info.precautions"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('interaccion')">INTERACCIONES</ion-button>
<div [hidden] = "banderas.interaccion">
  <span  [innerHTML]="info.interactions"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('usoen')">USO EN</ion-button>
<div [hidden] = "banderas.usoen">
  <span [innerHTML]="info.use"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('observaciones')">OBSERVACIONES</ion-button>
<div [hidden] = "banderas.observaciones">
  <span  [innerHTML]="info.observations"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('citados')">TRABAJOS CITADOS</ion-button>
<div [hidden] = "banderas.citados">
  <span  [innerHTML]="info.bibliography"></span>
</div>
</ion-content>
