<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="earth"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MEDICAMENTO</ion-title>
    <ion-buttons slot="end"  routerLink="/medicamentos">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="info" >
<div class="general">
  <div class="tituloCentrado">
    <ion-label >
      CONSEJO NACIONAL DE SALUD - CONASA
      CUADRO NACIONAL DE MEDICAMENTOS BÁSICOS
      REGISTRO TERAPÉUTICO
    </ion-label>
  </div>
  <ion-grid >
    <ion-row>
      <ion-col class="col1">
        <span>Código ATC</span>
      </ion-col>
      <ion-col class="col2">
        <span>{{info.code}}</span>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col class="col1">
        <span>DCI:</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.description"></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Forma Farmacéutica:</span>
      </ion-col>
      <ion-col class="col2">
        <span>{{info.form}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Concentración:</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.concentration"></span>
      </ion-col>
    </ion-row>
     <ion-row>
      <ion-col class="col1">
        <span>Nivel de Prescripción:</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.pres" ></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Nivel de Atención:</span>
      </ion-col>
      <ion-col class="col2">
        <span [hidden]="level1" style="display: inline-block; padding-right:5px;"> I NA</span>
        <span [hidden]="level2" style="display: inline-block; padding-right:5px"> II NA</span>
        <span [hidden]="level3" style="display: inline-block; padding-right:5px"> III NA</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col1">
        <span>Via administración</span>
      </ion-col>
      <ion-col class="col2">
        <span [innerHTML]="info.admin"></span>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</div>

<ion-grid>
  <ion-row>
    <ion-col size="2" size-sm="5"><strong>Form</strong></ion-col>
    <ion-col size="3" size-sm="3"><strong>Concentración</strong></ion-col>
    <ion-col size="3" size-sm="3"><strong>Administración</strong></ion-col>
    <ion-col size="3" size-sm="3"><strong>Prescripción</strong></ion-col>
    <ion-col size="1" size-sm="3"><strong>Level</strong></ion-col>
  </ion-row>
  <ion-row *ngFor="let forme of formsArray">
    <ion-col size="2" size-sm="5">{{forme.form}}</ion-col>
    <ion-col size="3" size-sm="3"><span [innerHTML]="forme.concentration"></span></ion-col>
    <ion-col size="3" size-sm="3"><span [innerHTML]="forme.administration"></span></ion-col>
    <ion-col size="3" size-sm="3"><span [innerHTML]="forme.prescription"></span></ion-col>
    <ion-col size="1" size-sm="3">{{forme.level}}</ion-col>
  </ion-row>
</ion-grid>
<ion-button expand="full" color="tertiary" (click)="clickBotonesInformativos('picto')">PICTOGRAMAS</ion-button>
<div class="row1" [hidden] = "banderas.picto">
  <ion-img  *ngFor="let picto of pictogramasArray" style="height: 100px; width: 100px; display: inline-block;"
  [src]="url+ picto"></ion-img>      
</div>
<ion-button expand="full" color="tertiary" (click)="clickBotonesInformativos('indicaciones')">INDICACIONES</ion-button>
<div [hidden] = "banderas.indicaciones">
  <span [innerHTML]="info.indications"></span>
</div>
<ion-button expand="full" color="tertiary" (click)="clickBotonesInformativos('dosificacion')">DOSIFICACIÓN</ion-button>
<div [hidden] = "banderas.dosificacion" >
  
  <div [hidden]="!dosage_flag" >
      <pinch-zoom>
        <ion-img [src]="dosilink"></ion-img>      
      </pinch-zoom> 
  </div>
  
  
  <div [hidden]="dosage_flag" [innerHTML]="info.dosage"></div>

</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('reacciones')">REACCIONES ADVERSAS</ion-button>
<div [hidden] = "banderas.reacciones">
  <span [innerHTML]="info.adverse_reaction"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('contraindica')">CONTRAINDICACIONES</ion-button>
<div [hidden] = "banderas.contraindica">
  <span [innerHTML]="info.contraindications"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('precauciones')">PRECAUCIONES  </ion-button>
<div [hidden] = "banderas.precauciones">
  <span  [innerHTML]="info.precautions"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('interaccion')">INTERACCIONES</ion-button>
<div [hidden] = "banderas.interaccion">
  <span  [innerHTML]="info.interactions"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('usoen')">EMBARAZO / LACTANCIA</ion-button>
<div [hidden] = "banderas.usoen">
  <span [innerHTML]="info.use"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('observaciones')">OBSERVACIONES</ion-button>
<div [hidden] = "banderas.observaciones">
  <span  [innerHTML]="info.observations"></span>
</div>
<ion-button expand="full" color="tertiary"  (click)="clickBotonesInformativos('citados')">TRABAJOS CITADOS</ion-button>
<div [hidden] = "banderas.citados">
  <span  [innerHTML]="info.bibliography"></span>
</div>
</div>
<div *ngIf="!info" [hidden] ="!escondido" class="divOffline">
  <div style="text-align: center;">
    <ion-icon name="cloud-offline-outline">
   
    </ion-icon>
  </div>
  
  <div style="text-align: center;">
    <span>No existe informacion descargada para este medicamento</span>
  </div>
  
</div>
</ion-content>
