.col1{
    font-weight: bold;
}

.col3{
    font-weight: bold;
    color: #C8021A;
}
.row1 {
    width: 100%;
    margin: 0 auto;
    
  }

ion-grid{
    ion-row{
        margin-top: -10px;
    }
    span{
        font-size: small;
    }
}
.divOffline{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ion-icon{
        width: 100px;
        height: 100px;
    }
}

ion-content{

    --ion-background-color:white;
}

.tt2{
    font-weight: bold;
    color: #164360;
}

.container2{
padding: 1rem;
}

hr {
    height: 3px !important;
    width: 500px !important;
    background:  #164360 !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }