.col1{
    font-weight: bold;
}

.row1 {
    width: 100%;
    margin: 0 auto;
    
  }

ion-grid{
    ion-row{
        margin-top: -10px;
    }
    span{
        font-size: small;
    }
}
.divOffline{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ion-icon{
        width: 100px;
        height: 100px;
    }
}