.dosisLetra{
    font-size: small;
    font-style: italic;
}

.codigoLetra{
    font-weight: bold;
    padding-left: 0%;
    color: darkblue;
}

.descripLetra{
    color: black;
}

ion-select-option{
    font-size: 5px;
}

.hidediv{
    margin-top: 3px;
    ion-label{
        font-weight: bold;
        font-size:small;
    }
    
    ion-select{
        font-size: 13px;
        font-weight: 500;
      }
}

.mensajeoffline{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;   
        margin-top: 50%;
}

.iconooffline{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;   
    margin-top: 40%;
}