.dosisLetra{
    font-size: small;
    font-style: italic;
}

.codigoLetra{
    font-weight: bold;;
    padding-left: 0%;
    color: darkblue;
}

.descripLetra{
    color: black;
}

.tituloLetra{
    font-weight: bold;
    color: darkred;
    display: flex;
    justify-content: center;
    font-size: x-small;
}

.padding{
    text-align: center;
    padding-top: 3%;
}